html,
body {
    background:#f3f3f3;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
}

p {
    margin: 0;
    color: #777;
    font-size: 14px;
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Muli', sans-serif;
    margin: 0;
}

ul,
label {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

body a:hover {
    text-decoration: none;
}

ection.header{
    background-color: rgba(0,0,0,0.8);
}
section.header header{
    background: linear-gradient(140deg,#ab032d 10%,#eb1d50 60%);
}
section.header nav h1 a{
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    letter-spacing: 1px;
    color: #fff;
}
section.header .navbar{
    margin: 0.5em !important;
}
section.header ul.navbar-nav{
    float: right;
    margin: 0;
    padding-right: 40px;
}
section.header ul li a{
    color: #000;
    text-transform: capitalize;
}
section.header ul li.active a{
    color: #fff;
}
section.header ul li.active a:hover{
    color: #000;
}
.header-tools{
    display: inline-block;
    float: right;
}
ul.ts-quick-nav{
    display: inline-flex;
}


.user-dropdown,.notify-dropdown{
    padding: 10px 0;
}
.ts-quick-nav .user-toggle{
    display: flex;
    lign-items: center;
    padding: 0 1px 1px;
}
.ts-quick-nav .user-toggle .user-avatar,
.icon-status{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #798BFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.06em;
    flex-shrink: 0;
    position: relative;
    border-radius: 50%;
    padding: 10px;
}
.icon-status{
    background: #798B92;
}

.ts-quick-nav .user-toggle .user-avatar img,
.notify-dropdown .icon-status img{
    height: 15px;
    width: 15px;
}

.ts-quick-nav .user-toggle .user-name{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.06em;
    flex-shrink: 0;
    position: relative;
}
.icon-status{
    position: relative;
    display: inline-flex;
    margin-left: 15px;
}

/*Profile*/
/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */

.profile-usermenu {
    margin-top: 2em;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #6e82a5;
    font-size: 14px;
    font-weight: 500;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #7f8dff;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #7f8dff;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

.st-content-body{
    padding: 2em 0 0;
}
.st-content-wrap{
    padding-bottom: 2rem;
}
.st-block-head{
    position: relative;
    padding-bottom: 1.25rem;
}
.st-block-title{
    margin-bottom: 1rem;
    font-weight: 400;
}
.st-block-des p{
    color: #526484;
/*   rgba(24, 69, 173, 1) */
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,0.125);
    border-radius: 4px;
}
.card-bordered{
    border: 1px solid #dbdfea;
}

.card .st-row{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.st-row-block{
    flex-direction: row;
    align-items: center;
    padding: 2rem 2em;
    display: flex;

}
.st-row-img{
    width: 50px;
    margin-right: 1.5rem;
    flex-shrink: 0;
    text-align: center;
    padding: .125rem;
}
.st-row-text{
    color: #8094ae;
}
.st-row-text h5{
    color: #364a63;
    font-weight: bold;
    margin-bottom: 1rem;
}
.st-row-text p{
    font-size: 12px;
}
.st-row-action{
    margin-top: auto;
    border-top: 1px solid #e5e9f2;
}
.st-row-action .link{
    position: relative;
    display: block;
    line-height: 1.3;
    padding: 1.5rem;
}