{% extends 'base/admin.html' %}
{% load static %}
{% block title %}Admin dashboard {% endblock %}
{% block content %}
<div class="st-content-body col-md-9">
                <div class="st-content-wrap">
                    <div class="st-block-head">
                        <h2 class="st-block-title ">Xin chào, {{ user.first_name }} {{ user.last_name }}</h2>
                        <div class="st-block-des">
                            <p>Chào mừng đến với trang quản lý tuyensinh247.</p>
                        </div>
                    </div>
                    <div class="st-block">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-bordered">
                                    <div class="st-row">
                                        <div class="st-row-block">
                                            <div class="st-row-img">
                                                <img src="{% static 'dashboard/assets/image/info.svg' %}" alt="" height="50px" width="50px">
                                            </div>
                                            <div class="st-row-text">
                                                <h5 class="tite">Thông tin cá nhân</h5>
                                                <p>Xem thông tin cá nhân và quản lý tài khoản của bạn.</p>
                                            </div>
                                        </div>
                                        <div class="st-row-action">
                                            <a href="/demo4/subscription/profile.html" class="link"><span>Quản lý tài khoản</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-bordered">
                                    <div class="st-row">
                                        <div class="st-row-block">
                                            <div class="st-row-img">
                                                <img src="{% static 'dashboard/assets/image/info.svg' %}" alt="" height="50px" width="50px">
                                            </div>
                                            <div class="st-row-text">
                                                <h5 class="tite">Danh sách thành viên</h5>
                                                <p>Xem và quản lý thành viên trong vai trò nhân viên</p>
                                            </div>
                                        </div>
                                        <div class="st-row-action">
                                            <a href="/demo4/subscription/profile.html" class="link"><span>Quản lý thành viên</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-bordered">
                                    <div class="st-row">
                                        <div class="st-row-block">
                                            <div class="st-row-img">
                                                <img src="{% static 'dashboard/assets/image/bill.svg' %}" alt="" height="50px" width="50px">
                                            </div>
                                            <div class="st-row-text">
                                                <h5 class="tite">Danh sách thí sinh</h5>
                                                <p>Xem và quản lý các thí sinh ứng tuyển</p>
                                            </div>
                                        </div>
                                        <div class="st-row-action">
                                            <a href="/demo4/subscription/profile.html" class="link"><span>Quản lý thí sinh</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-bordered">
                                    <div class="st-row">
                                        <div class="st-row-block">
                                            <div class="st-row-img">
                                                <img src="{% static 'dashboard/assets/image/health.svg' %}" alt="" height="50px" width="50px">
                                            </div>
                                            <div class="st-row-text">
                                                <h5 class="tite">Danh sách xét tuyển</h5>
                                                <p>Xem và quản lý danh sách xét tuyển</p>
                                            </div>
                                        </div>
                                        <div class="st-row-action">

                                            <a href="/demo4/subscription/profile.html" class="link"><span>Quản lý danh sách xét tuyển</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st-block-head">
                        <h2 class="st-block-title ">Danh sách xét tuyển</h2>
                        <div class="st-block-des">
                            <p>Here is your list of account.</p>
                        </div>
                    </div>
                    <div class="st-block">
                        <div class="row">
                            <div class="card card-bordered">
                                <table class="table table-tranx table-billing">
                                    <thead>
                                    <tr class="tb-ts-head">
                                        <th class="tb-ts-id"><span class="">#</span></th>
                                        <th class="tb-ts-info"><span class="tb-tnx-desc d-none d-sm-inline-block"><span>Tên thí sinh</span></span><span
                                                class="tb-tnx-date d-md-inline-block d-none"><span
                                                class="d-md-none">Date</span><span class="d-none d-md-block"><span>Đăng ký</span><span>Mã ngành</span></span></span>
                                        </th>
                                        <th class="tb-tnx-amount">
                                            <span class="tb-tnx-total d-none d-md-inline-block">Trạng thái</span>
                                            <span class="tb-tnx-activity d-none d-md-inline-block">Kết quả</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for admission in admissions %}
                                    <tr class="tb-ts-item">
                                        <td class="tb-tnx-id"><a href="#"><span>{{ admission.id }}</span></a></td>
                                        <td class=" tb-tnx-amount">
                                            <div class="tb-tnx-desc"><span class="title">{{ admission.user.name }}</span>
                                            </div>
                                            <div class="tb-tnx-date"><span class="date">{{ admission.created_at }}</span><span class="date">{{ admission.meta_data.Major }}</span>
                                            </div>
                                        </td>
                                        <td class="tb-tnx-info">
                                            <div class="tb-tnx-total"><span class="amount">{{ admission.status }}</span></div>
                                            <div class="tb-tnx-status"><span
                                                    class="badge badge-dot badge-warning">{{ admission.result }}</span></div>
                                        </td>
                                    </tr>
                                    {%  endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}


