{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<section class="section-body method-content">
    <h3 class="title">Phương thức 5: Xét tuyển thẳng vào học Bồi dưỡng kiến thức</h3>
    <div class="method-title">
        <div class="container">
            <div class="row">
                <div class="method-details" style="display: block">
                    <p>Xét tuyển thẳng học sinh các huyện nghèo, biên giới và hải đảo; người dân tộc thiểu số rất ít người vào học Bổ sung kiến thức 1 năm trước khi học chương trình đại học chính quy<span style="color: black;" lang="SV"> <i>(Điểm i khoản 2 Điều 7 của Quy chế tuyển sinh).</i></span></p>
                    <p><strong>- Ngành xét tuyển:</strong> tất cả các ngành chương trình đại trà (trừ các ngành đào tạo giáo viên).</p>
                    <p><strong>- Đối tượng:</strong> Thí sinh tốt nghiệp THPT năm 2020 và đạt 1 trong những điều kiện sau:</p>
                    <p>+ Là người dân tộc thiểu số rất ít người: Cống, Mảng, Pu Péo, Si La, Cờ Lao, Bố Y, La Ha, Ngái, Chứt, Ơ Đu, Brâu, Rơ Măm, Lô Lô, Lự, Pà Thẻn, La Hủ.</p>
                    <p><span style="color: #000000;">+ Có hộ khẩu thường trú từ 3 năm trở lên, học 3 năm và tốt nghiệp THPT tại các huyện nghèo <em>(học sinh học phổ thông dân tộc nội trú chỉ tính hộ khẩu thường trú)</em>, tính đến ngày nộp hồ sơ ĐKXT theo quy định tại Nghị quyết số 30a/2008/NQ-CP ngày 27/12/2008 của Chính phủ về Chương trình hỗ trợ giảm nghèo nhanh và bền vững đối với 61 huyện nghèo và Quyết định số 275/QĐ-TTg ngày 07/03/2018 của Thủ tướng Chính phủ về việc phê duyệt danh sách các huyện nghèo và huyện thoát nghèo giai đoạn 2018-2020; tại 20 huyện nghèo biên giới, hải đảo thuộc khu vực Tây Nam Bộ</span></p>
                    <p  style="text-align: justify; line-height: normal; margin: 3.0pt 0cm .0001pt 0cm;"><b><span style="color: black;">- </span><span style="color: black;" lang="SV">Điều kiện và nguyên tắc xét tuyển: </span></b><span style="color: black;" lang="SV">Thí sinh tốt nghiệp THPT năm 2020 và thuộc 1 trong những đối tượng nói trên được tuyển thẳng vào học Bổ sung kiến thức.</span></p>
                    <p style="text-align: justify;"><strong>- </strong><b> <span style="line-height: 107%; serif; color: black;" lang="SV"> Quy định đào tạo:</span></b> <span style="color: black;" lang="SV">Sau khi nhập học, thí sinh phải học chương trình bổ sung kiến thức 1 năm <i>(học các môn văn hóa thuộc khối khoa học tự nhiên hoặc khối khoa học xã hội và nhân văn tùy theo ngành – Xem chi tiết tại Phụ lục 5)</i> và phải đạt kết quả theo quy định của Hiệu trưởng Trường ĐHCT mới được vào học chính thức chương trình đại học chính quy đúng với ngành do thí sinh đăng ký <i>(học chung với thí sinh trúng tuyển đại học năm 2021-2022)</i>.</span></p>
                    <p style="text-align: justify;"><span lang="de"><b> - </b></span><b> <span style="line-height: 107%;" lang="DE"> Lệ phí </span> <span style="line-height: 107%;" lang="SV"> đăng ký</span><span style="line-height: 107%;" lang="DE">:</span></b><span style="line-height: 107%;" lang="DE"> 30.000đ/nguyện vọng</span></p>
                    <p style="text-align: justify;">- <strong>Hồ sơ và thời gian đăng ký xét tuyển</strong>:&nbsp; <span style="line-height: 107%;" lang="DE"> Nộp hồ sơ tại Sở Giáo dục và Đào tạo trước ngày 20/7/2020 <i>(Hướng dẫn số 1778/BGDĐT-GDĐH ngày 22/5/2020 của Bộ GDĐT)</i></span></p>
                    <p  style="text-align: justify; line-height: 115%; margin: 3.0pt 0cm .0001pt 14.2pt;"><span style="line-height: 115%;" lang="DE">Hồ sơ gồm có: </span></p>
                    <p  style="text-align: justify; line-height: 115%; margin: 3.0pt 0cm .0001pt 14.2pt;"><span lang="DE">+<span style="font: 7.0pt 'Times New Roman';">&nbsp; </span>Phiếu đăng ký xét tuyển thẳng </span></p>
                    <p  style="text-align: justify; line-height: 115%; margin: 3.0pt 0cm .0001pt 14.2pt;"><span lang="DE">+<span style="font: 7.0pt 'Times New Roman';">&nbsp; </span>Bản photocopy học bạ 3 năm học THPT;</span></p>
                    <p  style="text-align: justify; line-height: 115%; margin: 3.0pt 0cm .0001pt 14.2pt;"><span lang="de">+</span><span lang="DE"><span style="font: 7.0pt 'Times New Roman';">&nbsp; </span>Hai phong bì đã dán tem và ghi rõ địa chỉ liên lạc, số điện thoại của thí sinh; </span></p>
                    <p  style="text-align: justify; line-height: 115%; margin: 3.0pt 0cm .0001pt 14.2pt;"><span lang="de">+</span><span lang="DE"><span style="font: 7.0pt 'Times New Roman';">&nbsp; </span>Hai ảnh chân dung cỡ 4 x 6 <i>(chụp không quá 6 tháng kể từ ngày nộp hồ sơ)</i>;</span></p>
                    <p  style="text-align: justify; line-height: 115%; margin: 3.0pt 0cm .0001pt 14.2pt;"><span lang="de">+</span><span lang="DE"> Bản sao hợp lệ hộ khẩu thường trú <i>(Nếu ngày ký trên sổ hộ khẩu không đủ thời hạn 3 năm thì cần bổ sung giấy chứng nhận thời gian thường trú đủ 3 năm do Công an địa phương xác nhận).</i></span></p>
                    <p><strong>- Công bố kết quả:</strong></p>
                    <p>Trước<span style="line-height: 115%;" lang="DE"><span > 17g00 ngày 20/8/2020 kết quả xét tuyển thẳng được gửi cho các Sở</span></span><span style="line-height: 115%; font-family: TimesNewRomanPSMT,serif;" lang="DE"> <span >GDĐT để thông báo cho thí sinh hoặc thí sinh có thể tra cứu kết quả trên Website tuyển sinh.</span></span></p>
                    <p><strong>- Liên hệ:</strong></p>
                    <p  style="text-align: justify; text-indent: -14.2pt; margin: 6.0pt 0cm .0001pt 42.55pt;"><span lang="DE">1.<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp; </span>Ông <b>Nguyễn Hứa Duy Khang</b>, Phó trưởng phòng Đào tạo</span></p>
                    <p  style="text-align: justify; text-indent: 14.15pt; margin: 2.0pt 0cm .0001pt 14.2pt;"><span lang="DE">Địa chỉ: Khu II, đường 3 Tháng 2, phường Xuân Khánh, quận Ninh Kiều, TP Cần Thơ</span></p>
                    <p  style="text-align: justify; text-indent: 14.15pt; margin: 2.0pt 0cm .0001pt 14.2pt;"><span lang="DE">Điện thoại: (0292) 3872297 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hotline giải đáp thắc mắc: 0886889922</span></p>
                    <p  style="text-align: justify; text-indent: 14.15pt; margin: 2.0pt 0cm .0001pt 14.2pt;"><span lang="DE">Email: <span id="cloak30fc0797b2d515f1f80c55bbfa33ba98"><a href="mailto:tuyensinh@ctu.edu.vn">tuyensinh@ctu.edu.vn</a></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 about-content">
                <h5 class="mb-3">LEARNING PRACTICE AND USEFUL TIPS</h5>
                <h4>WE PREPARE THE STUDENTS FOR EXAMS AND TESTING</h4>
                <p class="mt-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}