{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<section class="section-body method-content">
    <h3 class="title">Phương thức 4 - Tuyển chọn vào chương trình tiên tiến và chất lượng cao
    </h3>
    <div class="method-title">
        <div class="container">
            <div class="row">
                <div class="method-details" style="display: block">
                    <p><br> Tuyển chọn thí sinh đã làm thủ tục nhập học vào Trường ĐHCT năm 2020 có nhu cầu chuyển sang học ngành thuộc chương trình tiên tiến hoặc chương trình chất lượng cao.</p>
                    <p><strong>- Đối tượng:</strong> thí sinh trúng tuyển đại học chính quy năm 2020 ở bất kỳ ngành nào theo phương thức 1, 2 hoặc 3.</p>
                    <p><strong>- Điều kiện đăng ký:</strong> thí sinh có điểm 3 môn ứng với tổ hợp xét tuyển theo ngành. </p>
                    <p><strong>- Hồ sơ và thời gian đăng ký xét tuyển:</strong> Ngay khi thí sinh làm thủ tục nhập học vào Trường.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 about-content">
                <h5 class="mb-3">LEARNING PRACTICE AND USEFUL TIPS</h5>
                <h4>WE PREPARE THE STUDENTS FOR EXAMS AND TESTING</h4>
                <p class="mt-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}