{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="icon" href="{% static 'myapp/assets/image/icon/icon.ico' %}" type="image/x-icon">
     <!-- Font awsome -->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
          integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" rel="stylesheet">

    <!--  Jquery & Bootstrap  -->
    <link href="{% static 'myapp/source/Bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'myapp/source/JQuery/jquery.js' %}"></script>
    <script src="{% static 'myapp/source/Bootstrap/js/bootstrap.min.js' %}"></script>

    <!--  Css + JS  -->
    <link href="{% static 'myapp/assets/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'myapp/assets/js/tohop.js' %}"></script>
    <script src="{% static 'myapp/assets/js/function.js' %}"></script>
    <!--    <script src="./assets/js/slide.js" type="text/javascript"></script>-->
    <!--  Font  -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>Phương thức 2</title>
</head>
<body>
<!-- Header -->
<section class="header">
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        Tuyển Sinh 247
                    </a>
                </h1>
                <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
                        type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li>
                            <a href="#">Đại học chính quy</a>
                        </li>
                        <li>
                            <a href="/method">Đăng ký xét tuyển</a>
                        </li>
                        <li>
                            <a href="/login">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</section>
<!-- End header -->

<section class="section-body method-content">
    <h3 class="title">Phương thức 2 - Xét tuyển điểm Kỳ thi tốt nghiệp THPT năm 2020</h3>
    <div class="method-title">
        <div class="container">
            <div class="row">
                <div class="method-details" style="display: block">
                    <p style="text-align: center;">&nbsp;</p>
                    <p>Xét tuyển dựa vào điểm của Kỳ thi tốt nghiệp THPT năm 2020 theo tổ hợp xét tuyển (3 môn thi) ứng với ngành do thí sinh đăng ký. Riêng ngành Giáo dục Thể chất: ngoài 2 môn thi văn hóa (Toán và Sinh hoặc Toán và Hóa), thí sinh phải đăng ký dự thi môn Năng khiếu TDTT do Trường ĐHCT tổ chức vào ngày 16/8/2020.</p>
                    <p>- Không sử dụng điểm bảo lưu Kỳ thi THPT quốc gia từ năm 2019 về trước.</p>
                    <p>- Không sử dụng điểm miễn môn ngoại ngữ.</p>
                    <p>- Không nhân hệ số môn thi.</p>
                    <p>- Không quy định xếp loại học lực THPT (kể cả các ngành đào tạo giáo viên).</p>
                    <p><strong>- Ngành xét tuyển:</strong> tất cả&nbsp; 92 các ngành chương trình tiên tiến, chương trình chất lượng cao và chương trình đại trà</p>
                    <p>- <strong>Chỉ tiêu tuyển sinh:</strong> tối thiểu 60% tổng chỉ tiêu</p>
                    <p>- <strong>Đối tượng:</strong> thí sinh tốt nghiệp THPT từ năm 2020 trở về trước và có điểm của Kỳ thi tốt nghiệp THPT năm 2020.</p>
                    <p>- <strong>Điều kiện đăng ký xét tuyển:</strong></p>
                    <p>&nbsp;&nbsp;&nbsp; +<span lang="SV"> Đối với các ngành đào tạo giáo viên: Đạt ngưỡng đảm bảo chất lượng đầu vào năm 2020 do Bộ GD&amp;ĐT xác định và công bố sau khi có kết quả Kỳ thi <i>(không quy định xếp loại học lực)</i> và không có môn nào từ 1,0 điểm trở xuống <i>(thang điểm 10)</i>. Ngoài ra, đối với ngành Giáo dục thể chất, môn Năng khiếu TDTT phải đạt từ 5,0 điểm trở lên <i>(thang điểm 10)</i>.</span></p>
                    <p>&nbsp;&nbsp;&nbsp; + <span lang="SV">Đối với các ngành khác: Đạt ngưỡng đảm bảo chất lượng đầu vào năm 2020 do Trường ĐHCT xác định và công bố sau khi có kết quả Kỳ thi tốt nghiệp THPT năm 2020 và không có môn nào từ 1,0 điểm trở xuống <i>(thang điểm 10)</i>.</span></p>
                    <p>- <strong>Điểm xét tuyển:</strong> <span style="line-height: 107%;" lang="SV"> là tổng điểm các môn thi <i>(thang điểm 10)</i> của tổ hợp xét tuyển ứng với ngành do thí sinh đăng ký; cộng với điểm ưu tiên đối tượng, khu vực <i>(Điều 7 của Quy chế tuyển sinh)</i> và được làm tròn đến hai chữ số thập phân. Không nhân hệ số môn thi. </span></p>
                    <p>- <strong>Nguyên tắc xét tuyển:</strong></p>
                    <p><span lang="SV">+ Thí sinh được đăng ký không giới hạn số nguyện vọng và phải xếp theo thứ tự ưu tiên từ cao xuống thấp (ưu tiên 1 là nguyện vọng cao nhất). Đối với từng ngành, các thí sinh được xét tuyển bình đẳng theo điểm xét tuyển từ cao xuống thấp, không phân biệt thứ tự ưu tiên của nguyện vọng đăng ký.</span></p>
                    <p>+ <span lang="SV">Đối với mỗi thí sinh, tất cả các nguyện vọng đều được xét tuyển và chỉ trúng tuyển vào 1 nguyện vọng có ưu tiên cao nhất trong số các nguyện vọng đủ điều kiện trúng tuyển.</span></p>
                    <p>+ <span lang="SV">Điểm trúng tuyển giữa các tổ hợp môn trong cùng 1 ngành là bằng nhau và được xác định theo ngành. Đây chính là điểm xét tuyển của thí sinh cuối cùng trong danh sách trúng tuyển và gọi là điểm chuẩn trúng tuyển của ngành.</span></p>
                    <p>+ <span lang="SV">Đ</span>ối với những ngành có chuyên ngành, sau khi trúng tuyển và nhập học theo ngành, thí sinh được chọn chuyên ngành theo học.</p>
                    <p>- <strong>Phí đăng ký:</strong> 30.000đ/nguyện vọng</p>
                    <p>- <strong>Hồ sơ và thời gian đăng ký xét tuyển</strong>: <span style="line-height: 107%;" lang="DE"> đăng ký cùng với hồ sơ dự thi Kỳ thi tốt nghiệp THPT năm 2020 tại các trường THPT hoặc tại các địa điểm nhận hồ sơ do các Sở Giáo dục và Đào tạo bố trí <i> (dự kiến Đợt 1: từ 15/6 đến 30/6/2020)</i>.</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 about-content">
                <h5 class="mb-3">LEARNING PRACTICE AND USEFUL TIPS</h5>
                <h4>WE PREPARE THE STUDENTS FOR EXAMS AND TESTING</h4>
                <p class="mt-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
            </div>
        </div>
    </div>
</section>
<!--Footer-->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>THÔNG TIN CẦN BIẾT</h4>
                <a href="#">Đề án tuyển sinh</a>
                <a href="#">Mức điểm đăng ký xét tuyển</a>
                <a href="#">Danh mục ngành, chỉ tiêu tuyển sinh</a>
                <a href="#">Tra cứu kết quả tuyển sinh</a>
            </div>
            <div class="col-md-4">
                <h4>TIN MỚI NHẤT</h4>
                <div class="d-flex justify-content-around">
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/g2.jpg' %}" class="img-fluid" alt="Responsive image">
                    </a>
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/g1.jpg' %}" class="img-fluid" alt="Responsive image">
                    </a>
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/g3.jpg' %}" class="img-fluid" alt="Responsive image">
                    </a>
                </div>
                <div class="d-flex justify-content-around">
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/cntt-min.jpg' %}" class="img-fluid" alt="Responsive image">
                    </a>
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/sv1.png' %}" class="img-fluid" alt="Responsive image">
                    </a>
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/sv3.png' %}" class="img-fluid" alt="Responsive image">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h4>ĐỊA CHỈ</h4>
                <p>Khu II, đường 3/2, P. Xuân Khánh, Q. Ninh Kiều, TP. Cần Thơ</p>
                <a href="">Điện thoại: (84-292) 3832663</a>
            </div>
        </div>
    </div>
</footer>
<section class="copyright">
    <div class="container">
        <p>© 2020 TuyenSinh247 . All Rights Reserved | Design by
            <a href="#"> PhamMinh </a>
        </p>
    </div>
</section>
<!--End Footer-->
</body>
</html>