{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <!-- Font awsome -->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
          integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" rel="stylesheet">
    <!--  Jquery & Bootstrap  -->
    <link href="{% static 'myapp/source/Bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'myapp/source/JQuery/jquery.js' %}"></script>
    <script src="{% static 'myapp/source/Bootstrap/js/bootstrap.min.js' %}"></script>

    <!--  Css + JS  -->
    <link href="{% static 'dashboard/assets/css/style.css' %}" rel="stylesheet">
    <!--    <script src="./assets/js/slide.js" type="text/javascript"></script>-->
    <!--  Font  -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <title>Thông tin cá nhân</title>
</head>
<body>
<section class="header">
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
                <h1>
                    <a class="navbar-brand" href="admindash.html">
                        Tuyển Sinh 247
                    </a>
                </h1>
                <div class="header-tools">
                    <ul class="ts-quick-nav">
                        <li class="dropdown user-dropdown">
                            <a href="#">
                                <div class="user-toggle">
                                    <div class="user-avatar">
                                        <img src="{% static 'dashboard/assets/image/user.svg' %}" alt="">
                                    </div>
                                    <div class="user-name">
                                        <span>Nhật Minh</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown notify-dropdown">
                            <a href="#">
                                <div class="icon-status">
                                    <img src="{% static 'dashboard/assets/image/notification.svg' %}" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</section>

<div class="ts-content">
    <div class="container">
        <div class="ts-content-inner">
            <div class="st-sidebar-menu col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="st-menu-heading">
                                <h6 class="overline-title">Menu</h6>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Tổng quan </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Danh sách </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Ứng tuyển </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    Help </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Account Settings </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="st-content-body col-md-9">
                <div class="st-content-wrap">
                    <div class="st-block-head">
                        <h2 class="st-block-title ">Thông tin của bạn</h2>
                        <div class="st-block-des">
                            <p>You have full control to manage your own account setting. </p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="st-block">
                        <div class="row">
                            <div class="ts-block-head">
                                <div class="ts-block-head-content"><h5 class="ts-block-title">Personal Information</h5>
                                    <div class="ts-block-des"><p>Basic info, like your name and address, that you use on
                                        Nio Platform.</p></div>
                                </div>
                            </div>
                            <div class="card card-bordered">
                                <div class="nk-data data-list">
                                    <div class="data-item" data-target="#profile-edit" data-toggle="modal">
                                        <div class="data-col"><span class="data-label">Tên đầy đủ</span><span
                                                class="data-value">Abu Bin Ishtiyak</span></div>
                                        <div class="data-col data-col-end"><span class="data-more"><i
                                                class="fas fa-arrow-right"></i></span></div>
                                    </div>
                                    <div class="data-item">
                                        <div class="data-col"><span class="data-label">Email</span><span
                                                class="data-value">info@softnio.com</span></div>
                                        <div class="data-col data-col-end"><span class="data-more disable"><em
                                                class="icon ni ni-lock-alt"></em></span></div>
                                    </div>
                                    <div class="data-item" data-target="#profile-edit" data-toggle="modal">
                                        <div class="data-col"><span class="data-label">Số điện thoại</span><span
                                                class="data-value text-soft">Not add yet</span></div>
                                        <div class="data-col data-col-end"><span class="data-more"><i
                                                class="fas fa-arrow-right"></i></span></div>
                                    </div>
                                    <div class="data-item" data-target="#profile-edit" data-toggle="modal">
                                        <div class="data-col"><span class="data-label">Ngày sinh</span><span
                                                class="data-value">29 Feb, 1986</span></div>
                                        <div class="data-col data-col-end"><span class="data-more"><i
                                                class="fas fa-arrow-right"></i></span></div>
                                    </div>
                                    <div class="data-item" data-target="#profile-edit" data-toggle="modal">
                                        <div class="data-col"><span class="data-label">Address</span><span
                                                class="data-value">2337 Kildeer Drive,<br>Kentucky, Canada</span></div>
                                        <div class="data-col data-col-end"><span class="data-more"><i
                                                class="fas fa-arrow-right"></i></span></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<!-- Popper.JS -->
<script crossorigin="anonymous"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>
</html>