{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <!-- Font awsome -->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
          integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" rel="stylesheet">
    <!--  Jquery & Bootstrap  -->
    <link href="{% static 'myapp/source/Bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'myapp/source/JQuery/jquery.js' %}"></script>
    <script src="{% static 'myapp/source/Bootstrap/js/bootstrap.min.js' %}"></script>

    <!--  Css + JS  -->
    <link href="{% static 'myapp/assets/css/style.css' %}" rel="stylesheet">
    <!--    <script src="./assets/js/slide.js" type="text/javascript"></script>-->
    <!--  Font  -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <title>Index</title>
</head>
<body>
<section class="header">
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        Tuyển Sinh 247
                    </a>
                </h1>
                <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
                        type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li>
                            <a href="#">Đại học chính quy</a>
                        </li>
                        <li>
                            <a href="/apply">Đăng ký xét tuyển</a>
                        </li>
                        <li>
                            <a href="/login">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="banner">
    </div>
</section>
<section class="banner-btm">
    <div class="container">
        <div class="banner-bottom-main">
            <div class="col-md-4">
                <div class="banner-sub1">
                    <i class="fas fa-tasks"></i>
                    <h3>Đại học chính quy</h3>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fas fa-crown"></i>
                <h3>Chương trình đào tạo đặc biệt</h3>
            </div>
            <div class="col-md-4">
                <i class="fas fa-fire"></i>
                <h3>Chương trình tiên tiến</h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

<section class="course">
    <div class="container">
        <h3 class="heading">CHUYÊN NGÀNH BẬC ĐẠI HỌC
            <span>Providing Higher Education</span>
        </h3>

        <div class="majors">
            <div class="card">
                <img alt="" src="{% static 'myapp/assets/image/g2.jpg' %}">
                <div class="card-title">
                    <h5>ENGLISH FLUENCY</h5>
                    <p>This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <div class="card">
                <img alt="" src="{% static 'myapp/assets/image/g3.jpg' %}">
                <div class="card-title">
                    <h5>ENGLISH FLUENCY</h5>
                    <p>This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <div class="card">
                <img alt="" src="{% static 'myapp/assets/image/g1.jpg' %}">
                <div class="card-title">
                    <h5>ENGLISH FLUENCY</h5>
                    <p>This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 about-content">
                <h5 class="mb-3">LEARNING PRACTICE AND USEFUL TIPS</h5>
                <h4>WE PREPARE THE STUDENTS FOR EXAMS AND TESTING</h4>
                <p class="mt-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
            </div>
        </div>
    </div>
</section>

<section class="course report">
    <section class="container">
        <h3 class="heading">PHẢN HỒI CỦA SINH VIÊN
            <span>Providing Higher Education</span>
        </h3>
        <section class="slider">
            <div class="flexslider">
                <div class="flex-viewport">
                    <ul class="slides">
                        <li class="flex-slide">
                            <img alt="" src="{% static 'myapp/assets/image/sv1.png' %}">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                .</p>
                            <div class="student">
                                <h5>Pham Van Hung</h5>
                            </div>
                        </li>
                        <li class="flex-slide">
                            <img alt="" src="{% static 'myapp/assets/image/sv3.png' %}">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                .</p>
                            <div class="student">
                                <h5>Ngo Hoang Dat</h5>
                            </div>
                        </li>
                        <li class="flex-slide">
                            <img alt="" src="{% static 'myapp/assets/image/sv2.png' %}">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                .</p>
                            <div class="student">
                                <h5>Le Thuy Tram</h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <ol class="control-paging">
                    <li>
                        <a class="dot active" onclick="currentSlide(1)">1</a>
                    </li>
                    <li>
                        <a class="dot" onclick="currentSlide(2)">2</a>
                    </li>
                    <li>
                        <a class="dot" onclick="currentSlide(3)">3</a>
                    </li>

                </ol>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </section>

        </div>
    </section>
</section>

<!--Footer-->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>THÔNG TIN CẦN BIẾT</h4>
                <a href="#">Đề án tuyển sinh</a>
                <a href="#">Mức điểm đăng ký xét tuyển</a>
                <a href="#">Danh mục ngành, chỉ tiêu tuyển sinh</a>
                <a href="#">Tra cứu kết quả tuyển sinh</a>
            </div>
            <div class="col-md-4">
                <h4>TIN MỚI NHẤT</h4>
                <div class="d-flex justify-content-around">
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/g2.jpg' %}" class="img-fluid" alt="Responsive image">
                    </a>
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/g1.jpg' %}" class="img-fluid" alt="Responsive image">
                    </a>
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/g3.jpg' %}" class="img-fluid" alt="Responsive image">
                    </a>
                </div>
                <div class="d-flex justify-content-around">
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/cntt-min.jpg' %}" class="img-fluid" alt="Responsive image">
                    </a>
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/sv1.png' %}" class="img-fluid" alt="Responsive image">
                    </a>
                    <a href="#" class="col-4">
                        <img src="{% static 'myapp/assets/image/sv3.png' %}" class="img-fluid" alt="Responsive image">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h4>ĐỊA CHỈ</h4>
                <p>Khu II, đường 3/2, P. Xuân Khánh, Q. Ninh Kiều, TP. Cần Thơ</p>
                <a href="">Điện thoại: (84-292) 3832663</a>
            </div>
        </div>
    </div>
</footer>
<section class="copyright">
    <div class="container">
        <p>© 2020 TuyenSinh247 . All Rights Reserved | Design by
            <a href="#"> PhamMinh </a>
        </p>
    </div>
</section>
<!--End Footer-->
<script type="text/javascript">
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("flex-slide");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
</body>
</html>