{% extends 'base/loginbase.html' %}
{% load static %}

{% block content %}
<body>
<div class="login-banner">
    <div class="container-fluid login-sec">
        <div class="col-md-6 lg-left"></div>
        <div class="col-md-6 lg-right">
            <div class="login-frame">
                <h3>ĐĂNG KÝ TÀI KHOẢN</h3>
                <div class="divider"></div>
                <form action="" class="register" method="post">
                    <input placeholder="Email" type="text">
                    <input placeholder="Password" type="password">
                    <input placeholder="Re-Password" type="password">
                    <button type="submit">ĐĂNG KÝ</button>
                    <a href="./sign-in.html">Đã có tài khoản ? Đăng nhập ngay</a>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</body>
</html>